body {
  margin: 0;
}

.pageWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.background {
  background-image: url(./assets/bg.jpeg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -2;
}

.foreground {
  background-image: url(./assets/fg.png);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

.planeContainer {
  animation: flyPlane 7s linear infinite;
  position: relative;
  top: 40px;
  left: 30%;
  z-index: -1;
  & img {
    width: 35%;
  }

  & .bannerTextContainer {
    position: relative;
    top: 68px;
    left: 140px;
    display: flex;
    width: 360px;
    justify-content: space-evenly;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(248, 207, 214);
    text-shadow: 1px 1px black;
    & .w1 {
      position: relative;
      bottom: 4px;
    }

    & .w2 {
      color: red;
      position: relative;
      top: 4px;
    }

    & .w3 {
      position: relative;
      bottom: -8px;
    }
  }
}

@keyframes flyPlane {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.pizzaBannerContainer {
  z-index: 2;
  position: relative;
  left: 84.5%;
  top: 4.5%;

  & img {
    width: 250px;
    transform: skew(-10deg, 0deg);
    transform: rotate(-20deg);
  }
}

.fireworksContainer {
  z-index: -1;
  position: absolute;
  top: 0;
}

.fireworksContainer2 {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 100px;
}

.ballons {
  left: 600px;
  bottom: 80px;
  position: absolute;
  z-index: 2;
  transform: scale(0.1);
}

.ballons2 {
  right: 440px;
  bottom: 600px;
  position: relative;
  z-index: 2;
  transform: scale(0.2);
}

.ballons3 {
  position: absolute;
  right: 130px;
  bottom: -200px;
  z-index: 2;
  transform: scale(0.08);
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

.panda {
  position: absolute;
  right: 100px;
  bottom: 70px;
  z-index: 1;
  transform: scale(0.5);
  animation: jump 1s infinite ease-in-out;
}

.pandaImg {
  width: 100px;
}
